body {
    background-color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

header div {
    display: flex;
    background-color: var(--tertiary-color);
    border-radius: 10px 10px 25px 25px;
    border: solid 3px var(--primary-color);
    max-width: 50vw;
    justify-content: center;
    max-height: fit-content;
    box-shadow: 1px 1px 8px rgba(0,0,0, 0.5);
}

header div h1 {
    
    color: var(--primary-color);
    text-shadow: 3px 3px 8px rgba(0,0,0, 0.5);
    padding: 5px 70px 5px 70px;
    font-size: 10vw;
    font-weight: bolder;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 2.5vw;
    color: var(--primary-color);
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.8);
    line-height: 1.5;
}

#container {
    display: flex;
    flex-direction: column;
    width: 65vw;
}

#question {
    text-align: left;
    border-bottom: solid 2px var(--primary-color);
    background-color: var(--tertiary-color);
    border-radius: 5px 40px;
    box-shadow: 1px 1px 8px rgba(0,0,0, 0.5);
}

#question p {
    /* width: 40vw; */
    padding: 20px;
    font-size: 2.5vw;
    color: var(--primary-color);
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.8);
}

#instructions {
    /* width: 40vw; */
    padding: 20px;
    font-size: 2.5vw;
    text-align: center;
    color: var(--primary-color);
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.8);
    line-height: 1.5;
    background-color: var(--tertiary-color);
    border-radius: 10px;
}

#options {
    display: flex;
    margin-top: 15px;
    border-top: solid 2px var(--primary-color);
    border-radius: 40px 5px 10px 10px;
    background-color: var(--tertiary-color);
    box-shadow: 1px 1px 8px rgba(0,0,0, 0.5);
    height: fit-content;
}

#list {
    padding: 20px;
}

#list li {
    margin: 10px 0px;
}

.choices {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 6px;
    border-radius: 3px;
    font-size: 2vw;
    text-shadow: 1px 1px 3px rgba(0,0,0, 0.4);
    border: solid 1px var(--primary-color);
    box-shadow: 1px 2px 4px rgba(0,0,0, 0.5);
}

.choices:hover {
    background-color: var(--hover-color);
    border: solid 1px white;
}

#result {
    display: flex;
    justify-content: space-between;
}

#result h2 {
    padding: 20px;
    font-size: 3vw;
    color: var(--primary-color);
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.8);
    font-style: italic;
}

.hidden {
    display: none;
}

#start-button {
    margin-top: 20px;
    font-size: 5vw;
}

#high-scores {
    margin: 30px;
}

#high-scores label {
   /* width: 40vw; */
   padding: 20px 0px;
   font-size: 2.5vw;
   text-align: right;
   color: var(--primary-color);
   text-shadow: 2px 2px 5px rgba(0,0,0, 0.8);
}

#high-scores input {
    margin: 5px;
    padding: 5px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

#high-score-list {
    display: flex;
    justify-content: center;
    border: solid 1px var(--secondary-color);
    padding: 3px;
}

#high-score-list li {
    line-height: 1.5;
}